smallpox.config
smallpox.creator
smallpox.creator.user
smallpox.files
smallpox.includes
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
moth/bin
moth/lib
threads.exe.stackdump
smallpox.creator.user.2.3pre1
